ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(199, 137, 235);
  opacity: 0.7;
}

li a {
  float: left;
  font-size: 35px;
  font-family: 'Gochi Hand', cursive;
  display: block;
  text-align: center;
  padding: 14px 16px;
}
a:hover {
color: white
}

body {
  background-image: url(https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
}