ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(125, 172, 216);
  opacity: 0.7;
}

li a {
  float: left;
  font-size: 35px;
  font-family: 'Gochi Hand', cursive;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

a:hover {
  color: white;
}

body {
  background-image: url(https://images.unsplash.com/photo-1544716278-e513176f20b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);
  /* background-position:  repeat center center fixed; */
  background-size: cover;
}