ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(199, 137, 235);
 }

li a {
  float: left;
  font-size: 35px;
  font-family: 'Gochi Hand', cursive;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

a:hover {
  color: white
}

body {
  background-image: url(https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
}